<div id="prof-container" class="container h-100  m-3 p-3 bg-light align-items-center rounded">
  <div class="row w-100">
    <div class="col-3">
      <img id='profile-pic' class="rounded mx-3 mb-3"
        onerror="this.onerror=null; this.src='https://via.placeholder.com/250'" src='/images/uploads/profile-{{id}}.jpg'
        data-logged-in="{{userId}}" alt="" />
      <input id="image-upload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
      <div id='upload-btns' class="mx-auto w-50" hidden>
        <button class="btn btn-success" id="img-save">Save</button>
        <button class="btn btn-warning" id="img-cancel">Cancel</button>
      </div>
    </div>
    <div class="col-8 mt-2">
      <form id="profile-form" class="container align-items-start">

        <div class="row mb-3">
          <label class="col-2 col-form-label" for="profile-name"><b>First Name: </b></label>
          <div class="col">
            <input type="text" class="form-control-plaintext profile-input" id="profile-name"
              placeholder="{{userData.firstName}}" value="{{firstName}}" disabled />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-2 col-form-label" for="profile-name"><b>Last Name: </b></label>
          <div class="col">
            <input type="text" class="form-control-plaintext profile-input" id="profile-name" placeholder="Enter name"
              value="{{lastName}}" disabled />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-2 col-form-label" for="profile-email"><b>Email: </b></label>
          <div class="col">
            <input type="text" class="form-control-plaintext profile-input" id="profile-email" placeholder="Enter email"
              value="{{email}}" disabled />
          </div>
        </div>
    </div>

  </div>

  <div id='profile-buttons' class="row" hidden>
    <button type="submit" class="col btn btn-success m-3">Apply</button>
    <button id="cancel-profile" class='col btn btn-danger m-3' />>Cancel</button>
  </div>
  </form>
</div>