<div class="container h-100  m-3 p-3  align-items-center rounded">

    <h1>{{blogComment.title}}</h1>
    <section width=100%>
        <h3>By: {{blogComment.user.email}}</h3>
        <P>Posted on: {{blogComment.dateCreated}}</P>
        <P></P>
        <P>{{blogComment.contents}}</P>
        <P>

        </P>
        <textarea cols="100" placeholder="Feel free to leave a comment here . . . " value="{{comment}}" id="commentBlog"
            class=" form form-input" type="text"></textarea>
        <P><label value="{{commentDate}}" id="date-comment">
            </label></P>
        <P><label value="{{comment.user.email}}"></label></P>

</div>
<div id="blog-buttons" class="row">
    <button type="success" id="comment-blog" class="btn btn-outline-dark m-3">Save</button>

    <button id="cancel-blog" class="col btn btn-outline-warning m-3" onclick="window.history.back()" />Cancel</button>

</div>
</section>
</div>

<script src="/js/commentBlog.js"></script>