<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Lato", sans-serif;
      transition: background-color .5s;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    #main {
      transition: margin-left .5s;
      padding: 16px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }
  </style>
</head>

<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Slack</a>
    <a href="#">Events</a>
    <a href="#">Networking</a>




    <a href="#">Logout</a>

  </div>

  <div id="main">

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.body.style.backgroundColor = "white";
    }
  </script>

</body>

</html>


<div class="container w-50 flex-column justify-content-center align-items-center">
  <h3>Click on a blog below . . . </h3>
  <ul>
    {{#each blogData}}
    <li><a href="/comment/Blog/{{id}}">{{title}}</a></li>
    {{/each}}
  </ul>

  {{#each users as |email|}}
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <h2>
        {{user.email}}
      </h2>
    </div>
    <div class="col-md-6">
      <h3>
        {{!-- <a href="mailto:{{user.email}}">
          {{user.email}}
        </a> --}}
      </h3>
    </div>
  </div>
</div>
{{/each}}